<%- include("template/cabecera", {tituloWeb: "Panel de administración" }) %>
    <div class="container mt-4">
        <h1>Lista animales</h1>
        <a class="btn btn-success btn-block my-4" href="/animales/crear">Añadir animal</a>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Común</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayAnimal.length > 0) { %>
                    <% arrayAnimal.forEach( animal =>{ %>
                        <tr>
                            <th scope="row"><%= animal.id %></th>
                            <td><%= animal.nombre %></td>
                            <td><%= animal.comun %></td>
                            <td><%= animal.descripcion%></td>
                            <td><%= animal.tamano%></td>
                            <td><a class="btn btn-warning btn-sm" href=animales/<%= animal._id %>>Editar/Eliminar</a></td>
                        </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>
<%- include("template/footer") %>